<div class="page-container">
  <div style="text-align: center"><h1>LOGIN</h1></div>
  <div class="page-content">
    <mat-card class="card">
      <div class="input-text-container">
        <mat-form-field class="input-field" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="user.email">
        </mat-form-field>
      </div>

      <div class="input-text-container">
        <mat-form-field class="input-field" appearance="fill">
          <mat-label>Password</mat-label>
          <input type="password" matInput [(ngModel)]="user.password">
        </mat-form-field>
      </div>

      <button mat-flat-button color="primary" (click)="login()">Login</button>
<!--      <div style="width: 2rem"></div>-->
      <button mat-flat-button (click)="goToSignUp()">Signup</button>
    </mat-card>
  </div>
</div>
